/*
    Rosso: #FC4445
    Azzurro chiaro: #3FEEE6
    Azzurro scuro: #55BCC9
    Viola blando: #97CAEF
    "Panna": #CAFAFE
*/

#navigation {
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.about{
    align-items: center;
}
.swiper-container {
    width: 80% !important;
    height: 60vh !important;
}
.swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    height: 300px !important;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
.warning-color{
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s; 
}