/*
    Rosso: #FC4445
    Azzurro chiaro: #3FEEE6
    Azzurro scuro: #55BCC9
    Viola blando: #97CAEF
    "Panna": #CAFAFE
*/
.navbar {
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.default-color{
    transition: all 1s !important;
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
}
