/*
    Rosso: #FC4445
    Azzurro chiaro: #3FEEE6
    Azzurro scuro: #55BCC9
    Viola blando: #97CAEF
    "Panna": #CAFAFE
*/

.navbar {
    background-color: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.swiper-container {
    width: 100% !important;
    height: 80vh !important;
}

.swiper-slide {
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    height: 300px !important;
}